<!DOCTYPE HTML>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8"/>
  <title>Company List</title>
  <style>
    body {
        background-image: url('/images/background13.jpg');
        #background-repeat: no-repeat;
    }


    </style>
</head>
<body>
<a href="/">Main</a>
<div align="center">
  <h1>Company List</h1>
  <a href="/createCompany">Create New Company</a>
  <br/><br/>
  <div>
    <table border="1">
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Specialization</th>
        <th>Edit</th>
        <th>Delete</th>
      </tr>

      <tr th:each="company : ${companies}">
        <td th:utext="${company.id}">...</td>
        <td th:utext="${company.name}">...</td>
        <td th:utext="${company.specialization}">...</td>
        <td>
          <form action="/company/update" method="post"></a>
            <input name="id" th:value="${company.id}" type="hidden">
            <button type="submit">Edit</button>
          </form>
        <td>
          <form action="/company/delete" method="post"></a>
            <input name="id" th:value="${company.id}" type="hidden">
            <button onclick="return confirm('Are you sure you want to delete Company?');"
                    id="btnDelete">Delete</button>
          </form>
        </td>
      </tr>
    </table>
  </div>
</div>
</body>
</html>