<!DOCTYPE HTML>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title>Project List</title>
    <style>
    body {
        background-image: url('/images/background13.jpg');
    }

    </style>
</head>
<body>
<a href="/">Main</a>
<div align="center">
    <h1>Project List</h1>
    <a href="/createProject">Create New Project</a>
    <br/><br/>
    <div>
        <table border="1">
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Description</th>
                <th>Date</th>
                <th>Customer ID</th>
                <th>Company ID</th>
            </tr>

            <tr th:each="project : ${projects}">
                <td th:utext="${project.id}">...</td>
                <td th:utext="${project.name}">...</td>
                <td th:utext="${project.description}">...</td>
                <td th:utext="${project.date}">...</td>
                <td th:utext="${project.customerId}">...</td>
                <td th:utext="${project.companyId}">...</td>
                <td>
                    <form action="/project/update" method="post"></a>
                        <input name="id" th:value="${project.id}" type="hidden">
                        <input name="date" th:value="${project.date}" type="hidden">
                        <button type="submit">Edit</button>
                    </form>
                <td>
                    <form action="/project/delete" method="post"></a>
                        <input name="id" th:value="${project.id}" type="hidden">
                        <button onclick="return confirm('Are you sure you want to delete the Project?');"
                                id="btnDelete">Delete</button>
                    </form>
                </td>
            </tr>
        </table>
    </div>
</div>
</body>
</html>