<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8"/>
    <title>Update Project</title>
    <style>
    body {
        background-image: url('/view/images/background13.jpg');
    }

    </style>
</head>
<body>
<a href="/">Main</a>
<a href="/project">Back</a>
<div align="center">
    <h1>Update Existing Project</h1>
    <br/>
    <form action="/project/put" method="post">

        <table border="0" cellpadding="10">
            <tr>
                <td>Project ID:</td>
                <td><input name="id" readonly="readonly" th:placeholder="${id}" th:value="${id}" type="text"/></td>
            </tr>
            <tr>
                <td>Project Name:</td>
                <td><input maxlength="255" name="name" required th:placeholder="${project.name}" type="text"/></td>
            </tr>
            <tr>
                <td>Project Description:</td>
                <td><input maxlength="255" name="description" required th:placeholder="${project.description}" type="text"/></td>
            </tr>
            <tr>
                <td>Date of Contract:</td>
                <td><input name="date" required th:placeholder="${date}" type="date"/></td>
            </tr>
            <tr>
                <td>Customer ID:</td>
                <td><input min="1" name="customerId" required th:max="${maxIdCustomer}" th:placeholder="${project.customerId}"
                           type="number"/></td>
            </tr>
            <tr>
                <td>Company ID:</td>
                <td><input min="1" name="companyId" required th:max="${maxIdCompany}" th:placeholder="${project.companyId}"
                           type="number"/></td>
            </tr>
            <tr>
                <td colspan="102">
                    <button onclick="return confirm('Please confirm update of the Project?');"
                            id="btnUpdate">Update</button>
                </td>
            </tr>
        </table>
    </form>
</div>
</body>