<!DOCTYPE HTML>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title>Developer List</title>
    <style>
    body {
        background-image: url(images/background13.jpg);
        #background-repeat: no-repeat;
    }


    </style>
</head>
<body>
<a href="/">Main</a>
<div align="center">
    <h1>Developer List</h1>
    <a href="/createDeveloper">Create New Developer</a>
    <br/><br/>
    <div>
        <table border="1">
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Age</th>
                <th>Gender</th>
                <th>Salary</th>
                <th>Company ID</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>

            <tr th:each="developer : ${developers}">
                <td th:utext="${developer.id}">...</td>
                <td th:utext="${developer.name}">...</td>
                <td th:utext="${developer.age}">...</td>
                <td th:utext="${developer.gender}">...</td>
                <td th:utext="${developer.salary}">...</td>
                <td th:utext="${developer.companyId}">...</td>
                <td>
                    <form action="/developer/update" method="post"></a>
                        <input name="id" th:value="${developer.id}" type="hidden">
                        <button type="submit">Edit</button>
                    </form>
                <td>
                    <form action="/developer/delete" method="post"></a>
                        <input name="id" th:value="${developer.id}" type="hidden">
                        <button onclick="return confirm('Are you sure you want to delete Developer?');"
                                id="btnDelete">Delete</button>
                    </form>
                </td>
            </tr>
        </table>
    </div>
</div>
</body>
</html>