<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8"/>
    <title>Update Developer</title>
    <style>
    body {
        background-image: url('/developer/images/background13.jpg');
    }

    </style>
</head>
<body>
<a href="/">Main</a>
<a href="/developer">Back</a>
<div align="center">
    <h1>Update Existing Developer</h1>
    <br/>
    <form action="/developer/put" method="post">

        <table border="0" cellpadding="10">
            <tr>
                <td>Developer ID:</td>
                <td><input name="id" readonly="readonly" th:placeholder="${id}" th:value="${id}" type="text"/></td>
            </tr>
            <tr>
                <td>Developer Name:</td>
                <td><input maxlength="255" name="name" required th:placeholder="${developer.name}" type="text"/></td>
            </tr>
            <tr>
                <td>Age:</td>
                <td><input max="150" min="1" name="age" required th:placeholder="${developer.age}" type="number"/></td>
            </tr>
            <tr>
                <td>Gender:</td>
                <td>
                    <select name="gender" required>
                        <option disabled selected value="">Select gender</option>
                        <option>Male</option>
                        <option>Female</option>
                        <option>Other</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>Salary:</td>
                <td><input min="1" name="salary" required th:placeholder="${developer.salary}" type="number"/></td>
            </tr>
            <tr>
                <td>Company ID:</td>
                <td><input min="1" name="companyId" required th:max="${maxIdCompany}" th:placeholder="${developer.companyId}"
                           type="number"/></td>
            </tr>
            <tr>
                <td colspan="102">
                    <button onclick="return confirm('Please confirm update of Developer?');"
                            id="btnUpdate">Update</button>
                </td>
            </tr>
        </table>
    </form>
</div>
</body>