<!DOCTYPE HTML>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8"/>
  <title>Customer List</title>
  <style>
    body {
        background-image: url('/dao/images/background13.jpg');
        #background-repeat: no-repeat;
    }


    </style>
</head>
<body>
<a href="/dao/index">Main</a>
<div align="center">
  <h1>Customer List</h1>
  <a href="/dao/createCustomer">Create New Customer</a>
  <br/><br/>
  <div>
    <table border="1">
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Business Sphere</th>
        <th>Edit</th>
        <th>Delete</th>
      </tr>

      <tr th:each="customer : ${customers}">
        <td th:utext="${customer.id}">...</td>
        <td th:utext="${customer.name}">...</td>
        <td th:utext="${customer.businessSphere}">...</td>
        <td>
          <form action="/dao/customer/update" method="post"></a>
            <input name="id" th:value="${customer.id}" type="hidden">
            <button type="submit">Edit</button>
          </form>
        <td>
          <form action="/dao/customer/delete" method="post"></a>
            <input name="id" th:value="${customer.id}" type="hidden">
            <button onclick="return confirm('Are you sure you want to delete Customer?');"
                    id="btnDelete">Delete</button>
          </form>
        </td>
      </tr>
    </table>
  </div>
</div>
</body>
</html>