<!DOCTYPE HTML>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title>Developer List</title>
    <style>
    body {
        background-image: url('images/background13.jpg');
        #background-repeat: no-repeat;
    }

    </style>
</head>
<body>
<a href="/dao/index">Main</a>
<div align="center">
    <h1>Developer List</h1>
    <a href="/dao/createDeveloper">Create New Developer</a>
    <br/><br/>
    <div>
        <table border="1">
            <tr>
                <th>id</th>
                <th>name</th>
                <th>age</th>
                <th>gender</th>
                <th>salary</th>
                <th>companyId</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>

            <tr th:each="developer : ${developers}">
                <td th:utext="${developer.id}">...</td>
                <td th:utext="${developer.name}">...</td>
                <td th:utext="${developer.age}">...</td>
                <td th:utext="${developer.gender}">...</td>
                <td th:utext="${developer.salary}">...</td>
                <td th:utext="${developer.companyId}">...</td>
                <td>
                    <form action="/dao/developer/update" method="post"></a>
                        <input name="id" th:value="${developer.id}" type="hidden">
                        <button type="submit">Edit</button>
                    </form>
                <td>
                    <form action="/dao/developer/delete" method="post"></a>
                        <input name="id" th:value="${developer.id}" type="hidden">
                        <button type="submit">Delete</button>
                    </form>
                </td>
            </tr>
        </table>
    </div>
</div>
</body>
</html>