<!DOCTYPE HTML>
<html>
<head>
    <meta charset="UTF-8"/>
    <title>Project Capital Management</title>
    <style>
    body {
        background-image: url('./images/background13.jpg');
    }
    </style>
</head>
<body>
<div align="center">
    <br/>
    <table border="0" cellpadding="10">
        <h1>Project Capital Management</h1>
        <tr>
            <td>
                <a href="developer">Developer List</a>
            </td>
        </tr>
        <tr>
            <td>
                <a href="project">Project List</a>
            </td>
        </tr>
        <tr>
            <td>
                <a href="company">Company List</a>
            </td>
        </tr>
        <tr>
            <td>
                <a href="customer">Customer List</a>
            </td>
        </tr>
    </table>
</div>
</body>

</html>